* {
    margin: 0;
    padding: 0;

    font-style: normal;
    font-family: "Montserrat";
}

.container {
    margin: auto;
    max-width: 1116px;
}

/* Header */
header {
    position: fixed;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    color: white;

    width: 100%;
    z-index: 1000;
}

.header-line {
    height: 1px;
    width: 100vw;

    background-color: black;
    border: 0;
    
    opacity: 0.05;
}

.title-bg {
    min-height: 63vh;
    height: auto;

    background: linear-gradient(259.11deg, rgba(155, 155, 155, 0.32) -14.45%, rgba(182, 182, 182, 0) 65.72%), linear-gradient(114.03deg, rgba(192, 192, 192, 0.64) -7.08%, rgba(124, 179, 218, 0) 61.78%), url(Oxbridge-Editing-Essential-Skills-Leadership.jpg), url(rsz_10_istock-1153675389.jpg), url(zzLD3HOR7LI.jpg);
    background-image: url("../images/bg-header-heart.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news-heading {
    padding: 260px 0 0 0;
}
.header-logo {
    margin: 27px 0px 25px 43px;
}

header nav div.lang-selector {
    margin: 0 0 0 5.2%;
}

header nav div.lang-selector select {
    margin: 0 0 0 5px;
}

select.header-select {
    background: transparent;
    border: none;

    white-space: pre-wrap;
    margin: 0 47px 0 0;
    color: white;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(/images/triangle.svg);

    padding: 0.2em 0.9em 0.2em  0.2em ; 
}

.lang-selector {
    display: flex;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

header.container {
    display: flex;
    flex-direction: column;
}

/* Page */
.news-heading .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;

    margin: 0 0 22px 0;

    color: #FFFFFF;
}

.news-title {
    font-style: normal;
    font-weight: bold;
    font-size: 3.75em;
    line-height: 73px;
    white-space: pre-wrap;
    
    display: flex;

    margin: 0 0 75px 0;

    color: #FFFFFF;

    text-shadow: 0px 4px 164px rgba(0, 0, 0, 0.25);
}

.news-tag {
    padding: 11px 35px 12px 35px;
    margin: 0 15px 10px 0;

    border-radius: 59px;

    font-size: 16px;
    line-height: 20px;

    text-decoration: none;
    color:white;
}

.news-tags-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0 0 57px 0;

    width: 100%;
}

.news-tag#first {
    background: linear-gradient(114.07deg, #ACB6E5 15.44%, #86FDE8 122.33%);
    backdrop-filter: blur(9px);
}

.news-tag#second {
    background: linear-gradient(108.12deg, #F15F79 12.33%, #EC86FD 111.01%);
    backdrop-filter: blur(10px);
} 

header div.contacts {
    display: flex;
    flex-direction: column;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    margin: 0 64px 0 0;
}

div.contacts.name {
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
}

header div.name {
    margin: 9px 0 0 0;
}

.rectangle {
    position: absolute;
    width: 51.37px;
    height: 57.47px;
    left: 69.5px;
    top: 183.71px;

    background: rgba(255, 255, 255, 0.1);
    transform: rotate(-45deg);
}

.navigation {
    border: solid;
    border-width: 0 0 1px 0;
    border-color: #E2E2E2;
}

.path {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.path .page {
    white-space: nowrap;
    max-width: 526px;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #F15F79;
    font-size: 14px;
    line-height: 17px;
}

.path img {
    margin: 0 18px 0 18px;
}

.path .page#current {
    text-decoration: none;
    color: #8F8F8F;

    margin: 0 32px 0 0;
}

.back-button {
    text-decoration: none;
    color: #FFFFFF;

    padding: 7px 14px 7px 14px;
    margin: 28px 0 28px 0;

    background: #5E7CE4;
    border-radius: 2px;
}

.sharing {
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #E2E2E2;
}

.sharing-title {
    font-weight: 600;   
    font-size: 18px;
    line-height: 22px;

    margin: 0 1.04vw 0 0;
}

.sharing .socials {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1.2vh 0 1.2vh 0;
}

.sharing .socials .item {
    margin: 0 0.17vw 0 0.3vw;
}

.photo {
    background-image: url("/images/photo.jpg");
    background-size: contain;
}

.photo img {
    width: 42px;
    height: 55px;
}

.news-row {
    display: grid;
    grid-template-columns: 68% 32%;
}

.article {
    padding: 0 40px 0 0;
}

.article img {
    width: 100%;
}

.news-feed {
    border: solid #E9E9E9;
    border-width: 0 1px 0 1px;
}

.news-feed .header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.news-feed .line {
    border: 0;
    height: 3px;
    background: linear-gradient(90deg, #0152B4 0%, #F15F79 100%);
}

/* Footer */

footer {
    color: #FFFFFF;

    margin: 10vh 0 0 0;

    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer .inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;  
}

footer .inner .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5vh auto 0 auto;
}

footer .inner .line {
    width: 100%;

    margin: 2vh 0 4vh;

    opacity: 0.2;
    border: 1px solid #FFFFFF;
}

footer .inner .line#upper {
    margin: 4vh 0 5vh 0;
}

footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .row#copyright {
    margin: 0 0 4.2vh 0;
}

footer .row .column {
    display: flex;
    flex-direction: column;

}

footer .row .column .header {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    margin: 0 0 2.05vh 0;
}

footer .row .column .item {
    text-transform: uppercase;
    
    width: 9.4vw;
    margin: 0 1.9vh 0.93vh 0;

    font-size: 10px;
    line-height: 12px;
}

footer .row .item {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    text-decoration: none;
    color:#FFFFFF;
}

footer .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .contacts .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .contacts .socials img {
    margin: 0 1vw 0 0;
}

footer .contacts .phone {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    margin: 0 0 0.75vh 0;
}

footer .contacts .adress {
    font-size: 14px;
    line-height: 17px;
}