* {
    margin: 0;
    font-family: "Montserrat";
}

.container {
    margin: auto;
    max-width: 1200px;
    width: 62vw;
}

/* Header */
header {
    position: fixed;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    color: white;

    width: 100%;
    z-index: 1000;
}

.header-line {
    width: 100vw;
    opacity: 0.05;
    border: 1px solid #000000;
}

.title-bg {
    height: 58vh;

    background: linear-gradient(259.11deg, rgba(155, 155, 155, 0.32) -14.45%, rgba(182, 182, 182, 0) 65.72%), linear-gradient(114.03deg, rgba(192, 192, 192, 0.64) -7.08%, rgba(124, 179, 218, 0) 61.78%), url(Oxbridge-Editing-Essential-Skills-Leadership.jpg), url(rsz_10_istock-1153675389.jpg), url(zzLD3HOR7LI.jpg);
    background-image: url("../images/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news-heading {
    padding: 260px 0 0 0;
}
.header-logo {
    margin: 27px 0px 25px 43px;
}

/* header nav select {
    margin: 0 5.2% 0 0 ;
} */

header nav div.lang-selector {
    margin: 0 0 0 5.2%;
}

header nav div.lang-selector select {
    margin: 0 0 0 5px;
}

select.header-select {
    background: transparent;
    border: none;

    white-space: pre-wrap;

    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(/images/triangle.svg);

    padding: 0.2em 0.9em 0.2em  0.2em ; 
}
.lang-selector {
    display: flex;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

header.container {
    display: flex;
    flex-direction: column;
}

/* Page */
.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;

    color: #FFFFFF;
}

.news-title {
    font-style: normal;
    font-weight: bold;
    font-size: 3.75em;
    line-height: 73px;
    white-space: pre-wrap;

    color: #FFFFFF;

    /* text-shadow: 0px 4px 164px rgba(0, 0, 0, 0.25); */
}

header div.contacts {
    display: flex;
    flex-direction: column;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    margin: 0 64px 0 0;
}

div.contacts.name {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

header div.name {
    margin: 9px 0 0 0;
}

.rectangle {
    position: absolute;
    width: 51.37px;
    height: 57.47px;
    left: 69.5px;
    top: 183.71px;

    background: rgba(255, 255, 255, 0.1);
    transform: rotate(-45deg);
}

.line2 {
    margin: 86px 0 0 0;

    width: 100vw;
    border: 1px solid #E2E2E2;
}